#html {
	font-size: 62.5%;
}

body, html {
	font-size: 1.5rem;
	padding-left: 11.25rem;
	padding-right: 11.25rem;
	font-family: "Segoe UI","Segoe WP",Arial,Sans-Serif;
	font-weight: normal;
	background-color: #D5D4D0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.bigdiv {
	margin-left: 8%;
	margin-right: 8%;
	border-top-style: none;
	border-left: 2px;
	border-right: 2px;
	height: 64em;
	border-bottom-style: none;
	background-color: #f4f4f2;
	padding-left: 8%;
	padding-right: 8%;
	box-shadow: 0px 0px 10px #888888;
}

.header {
	height: 8.5rem;
	padding-top: 1.2rem;
	background-color: #f4f4f2;
	position: fixed;
	margin-left: 15.75%;
	width: 75%;
	opacity: 1;
	z-index: 30001;
}

.logo {
	display: inline-block;
	height: 100%;
	width: 15%;
    opacity: 1;
}

#imglogo {
	width: 31px;
	height: 31px;
	font-family: "Segoe UI", "Segoe WP", Arial, Sans-Serif; 
}

#msn {
	color: #333;
	font-family: "Segoe UI", "Segoe WP", Arial, Sans-Serif;
	position:relative;
	display: inline-block;
	font-size: 2.4rem;
	top:-0.7rem;
	left: -0.5rem;
}

#msn2 {
	color: #696969;
	font-family: "Segoe UI", "Segoe WP", Arial, Sans-Serif;
	font-size: 1.3rem;
	position: relative;
	top:-4.6rem;
	left: 0.3rem;
}

.search {
	display:flex;
	position: absolute;
	height: 50%;
	width: 50%;
	top: 25px;
	left: 22%;
	box-shadow: 0px 3px 5px #888888;
}

#search-bar {
	position: absolute;
	height: 90%;
	width: 88.5%;
	border-radius: 5px 0px 0px 5px;
}

#search-button {
	position: absolute;
	background-color: rgba(0,120,215,.8);
	width: 10.75%;
	height: 105%;
	left: 89.5%;
	border-radius: 0px 5px 5px 0px;
}

#search-icon {
	position: relative;
	width: 3rem;
	height: 3rem;
	max-width: 100%;
	max-height: 100%;
}

.sign-in {
	position: absolute;
	height: 100%;
	width: 10%;
	left: 82%;
	top: 35%;
}

#sign-in-text {
	color: #505050;;
	position: absolute;
	font-family: "Segoe UI", "Segoe WP", Arial, Sans-Serif;
	font-size: 1.204rem;
}

#settings-icon {
	position: absolute;
	left: 42%;
	top:15%;
	width: 25px;
	height: 25px;
}

.links {
	padding-top: 13rem;
	margin-bottom: -3rem;
	font-weight: 600;
	font-size: 1.3rem;
	color: #333;
	display: grid;
	grid-template-columns: repeat(12,auto);
	gap: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#outlook {	
	grid-column: 1;
}

#outlook1 {
	width: 25px;
	height: 25px;
}

#outlook-link {
	text-decoration: none;
	color: #333;
}

#facebook {
	
	grid-column: 2;
}

#facebook1 {
	width: 25px;
	height: 25px;
}

#facebook-link {
	text-decoration: none;
	color: #333;
}

#sport {
	grid-column: 3;
}

#sport1 {
	width: 25px;
	height: 25px;
}

#sport-link {
	text-decoration: none;
	color: #333;
}

#office {
	grid-column:4;
}

#office1 {
	width: 25px;
	height: 25px;
}

#office-link {
	text-decoration: none;
	color: #333;
}

#twitter {
	grid-column:5;
}

#twitter1 {
	width: 25px;
	height: 25px;
}

#twitter-link {
	text-decoration: none;
	color: #333;
}

#skype {
	grid-column:6;
}

#skype1 {
	width: 25px;
	height: 25px;
}

#skype-link {
	text-decoration: none;
	color: #333;
}

#store {
	grid-column:7;
}

#store1 {
	width: 25px;
	height: 25px;
}

#store-link {
	text-decoration: none;
	color: #333;
}

#onedrive {
	grid-column:8;
}

#onedrive1 {
	width: 25px;
	height: 25px;
}

#onedrive-link {
	text-decoration: none;
	color: #333;
}

#hr {
	position: relative;
	top: 35px;
	margin-right: 3%;
}

.menu {
	position: relative;
	top: 35px;
	font-size: 1.3rem;
	font-weight: 600;
	display: grid;
	grid-template-columns: repeat(19,auto);
	gap: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#corona {
	grid-column:1;
	color: #08893e;
	text-decoration: none;
}

#v1 {
	grid-column: 2;
	margin-top: -2.5px;
	color: #696969;
}

#weather-icon {
	grid-column: 3;
	width: 25px;
	height: 25px;
}

#weather-text {
	grid-column: 4;
	top: 0px;
	font-weight: bold;
	color: #696969;
	text-decoration: none;
}

#edit-weather {
	grid-column: 5;
	width: 19px;
	height: 19px;
}

#v2 {
	grid-column: 6;
	margin-top: -2.5px;
	color: #696969;
}

#edge {
	grid-column: 7;
	color: #146fb1;
	text-decoration: none;
}

#v3 {
	grid-column: 8;
	margin-top: -2.5px;
	color: #696969;
}

#africa {
	grid-column: 9;
	top: 0px;
	color: #696969;
	font-weight: bold;
	text-decoration: none;
}

#asia {
	grid-column: 10;
	top: 0px;
	color: #696969;
	font-weight: bold;
	text-decoration: none;
}

#australasia {
	grid-column: 11;
	top: 0px;
	color: #696969;
	font-weight: bold;
	text-decoration: none;
}

#europe {
	grid-column: 12;
	top: 0px;
	color: #696969;
	font-weight: bold;
	text-decoration: none;
}

#latin {
	grid-column: 13;
	top: 0px;
	color: #696969;
	font-weight: bold;
	text-decoration: none;
}

#meast {
	grid-column: 14;
	top: 0px;
	color: #696969;
	font-weight: bold;
	text-decoration: none;
}

#namerica {
	grid-column: 15;
	top: 0px;
	color: #696969;
	font-weight: bold;
	text-decoration: none;
}

#life {
	grid-column: 16;
	top: 0px;
	color: #696969;
	font-weight: bold;
	text-decoration: none;
}

#sportmenu {
	grid-column: 17;
	top: 0px;
	color: #696969;
	font-weight: bold;
	text-decoration: none;
}

#espo {
	grid-column: 18;
	top: 0px;
	font-weight: bold;
	background: -webkit-linear-gradient(rgb(105, 105, 105,1), rgb(105, 105, 105,0.4));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-decoration: none;
}

#arrow {
	grid-column: 19;
	width: 19px;
	height: 19px;
}

.news {
	position: relative;
	top:80px;
	left:10px;
	display:flex;

}
.newsleft {
	display: inline-block;
	height: 100%;
	width: 45%;
}

.newsright {
	position: absolute;
	left:48%;
	top:0px;
	height: 70%;
	width: 25%;
	color: white;
}

#news1 {
	width: 100%;
	height: 60%;
	border-width: 5px;
	border-color: white;	
}

#news2 {
	position: absolute;
	background-color: white;
	border-width: 5px;
	border-color: black;
	margin-top: 10px;
	left: 23%;
	width: 22%;
	height: 30%;
	overflow: hidden;

}
#news6 {
	position: absolute;
	background-color: white;
	border-width: 5px;
	border-color: black;
	margin-top: 10px;
	margin-right:2px;
	left: 0%;
	width: 22%;
	height: 30%;
	overflow: hidden;
}

#news7 {
	position: absolute;
	background-color: white;
	border-width: 5px;
	border-color: black;
	margin-top: 130px;
	margin-right: 2px;
	left: 0%;
	width: 22%;
	height: 30%;
	overflow: hidden;
}

#news8 {
	position: absolute;
	background-color: white;
	border-width: 5px;
	border-color: black;
	margin-top: 130px;
	margin-right: 2px;
	left: 23%;
	width: 22%;
	height: 30%;
	overflow: hidden;
}

#news6-img {
	position: absolute;
	margin-top: 10px;
	margin-left: 10px;
	height: 75%;
	width: 40%;
}

#news2-img {
	position: absolute;
	margin-top: 10px;
	margin-left: 10px;
	height: 75%;
	width: 40%;
}

#news6-text {
	color: #333;
	position: absolute;
	margin-top: 10px;
	margin-right: 10px;
	left: 47%;
	font-size: 1.2rem;
	text-overflow: ellipsis;
}

#news2-text {
	color: #333;
	position: absolute;
	margin-top: 10px;
	margin-right: 10px;
	left: 47%;
	font-size: 1.2rem;
	text-overflow:ellipsis;

}

#bbc {
	position: absolute;
	left: 48%;
	top: 68%;
	width: 25px;
	height: 25px;
}

#bbc-text {
	overflow: hidden;
	position: absolute;
	left: 58%;
	top: 63%;
	font-size: 1.1rem;
	color: #666;
	font-weight: bold;
}

.news3 {
	overflow: hidden;
	position: absolute;
}

#news3-img {
	position: absolute;
	height: 100%;
	width: 100%;
}

.news3-text {
	overflow: hidden;
	color: white;
	position: absolute;
	left: 5%;
	top: 50%;
	bottom:8%;
	font-size: 2.0rem;
	text-overflow: ellipsis;
}

#reuters {
	position: absolute;
	left: 5%;
	top: 85%;
	width: 19px;
	height: 19px;
}

#reuters-text {
	overflow: hidden;
	position: absolute;
	left: 13%;
	top: 82%;
	font-size: 1.1rem;
	color: #a0a0a0;
	font-weight: bold;
}

#news4 {
	position: absolute;
	background-color: white;
	border-width: 5px;
	border-color: black;
	top: 105%;
	width: 100%;
	height: 36%;
	overflow:hidden;
}

#news5 {
	position: absolute;
	background-color: white;
	border-width: 5px;
	border-color: black;
	top: 146.5%;
	width: 100%;
	height: 43%;
	overflow:hidden;
}



#news4-img {
	position: absolute;
	margin-top: 7px;
	margin-left: 10px;
	height: 80%;
	width: 30%;
}

#news4-text {
	overflow: hidden;
	color: #333;
	position: absolute;
	margin-top: 7px;
	margin-right: 10px;
	left: 40%;
	font-size: 1.2rem;
	text-overflow:ellipsis;
}

#indep {
	position: absolute;
	left: 40%;
	top: 68%;
	width: 18px;
	height: 18px;
}

#indep-text {
	overflow: hidden;
	position: absolute;
	left: 48%;
	top: 58%;
	font-size: 1.1rem;
	color: #666;
	font-weight: bold;
}

#news5-img {
	position: absolute;
	margin-top: 7px;
	margin-left: 10px;
	height: 80%;
	width: 30%;
}

#news5-text {
	overflow: hidden;
	color: #333;
	position: absolute;
	margin-top: 7px;
	margin-right: 10px;
	left: 40%;
	font-size: 1.3rem;
	text-overflow:ellipsis;
}

#hindu {
	position: absolute;
	left: 40%;
	top: 10%;
	width: 140px;
	height: 140px;
}

#hindu-text {
	overflow:hidden;
	position: absolute;
	left: 48%;
	top: 60%;
	font-size: 1.1rem;
	color: #666;
	font-weight: bold;
}

